# Build artifacts
artifacts
cache
coverage
coverage.json
deployments
gas-report.txt
typechain
typechain-types

# Environment files
.env*
!.env.example

# Node modules
node_modules

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Output or logs
*.log